<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.jacky.auth_center.mapper.SysUserMapper">
  <resultMap id="BaseResultMap" type="com.jacky.auth_center.model.DO.SysUser">
    <!--@mbg.generated-->
    <!--@Table test.sys_user-->
    <id column="id" jdbcType="BIGINT" property="id" />
    <result column="name" jdbcType="VARCHAR" property="name" />
    <result column="pass" jdbcType="VARCHAR" property="pass" />
    <result column="remark" jdbcType="VARCHAR" property="remark" />
    <result column="tel" jdbcType="VARCHAR" property="tel" />
    <result column="id_num" jdbcType="VARCHAR" property="idNum" />
  </resultMap>
  <sql id="Base_Column_List">
    <!--@mbg.generated-->
    id, name, pass, remark, tel, id_num
  </sql>
  <select id="selectByPrimaryKey" parameterType="java.lang.Long" resultMap="BaseResultMap">
    <!--@mbg.generated-->
    select 
    <include refid="Base_Column_List" />
    from test.sys_user
    where id = #{id,jdbcType=BIGINT}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Long">
    <!--@mbg.generated-->
    delete from test.sys_user
    where id = #{id,jdbcType=BIGINT}
  </delete>
  <insert id="insert" keyColumn="id" keyProperty="id" parameterType="com.jacky.auth_center.model.DO.SysUser" useGeneratedKeys="true">
    <!--@mbg.generated-->
    insert into test.sys_user (name, pass, remark, 
      tel, id_num)
    values (#{name,jdbcType=VARCHAR}, #{pass,jdbcType=VARCHAR}, #{remark,jdbcType=VARCHAR}, 
      #{tel,jdbcType=VARCHAR}, #{idNum,jdbcType=VARCHAR})
  </insert>
  <insert id="insertSelective" keyColumn="id" keyProperty="id" parameterType="com.jacky.auth_center.model.DO.SysUser" useGeneratedKeys="true">
    <!--@mbg.generated-->
    insert into test.sys_user
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="name != null">
        name,
      </if>
      <if test="pass != null">
        pass,
      </if>
      <if test="remark != null">
        remark,
      </if>
      <if test="tel != null">
        tel,
      </if>
      <if test="idNum != null">
        id_num,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="name != null">
        #{name,jdbcType=VARCHAR},
      </if>
      <if test="pass != null">
        #{pass,jdbcType=VARCHAR},
      </if>
      <if test="remark != null">
        #{remark,jdbcType=VARCHAR},
      </if>
      <if test="tel != null">
        #{tel,jdbcType=VARCHAR},
      </if>
      <if test="idNum != null">
        #{idNum,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.jacky.auth_center.model.DO.SysUser">
    <!--@mbg.generated-->
    update test.sys_user
    <set>
      <if test="name != null">
        name = #{name,jdbcType=VARCHAR},
      </if>
      <if test="pass != null">
        pass = #{pass,jdbcType=VARCHAR},
      </if>
      <if test="remark != null">
        remark = #{remark,jdbcType=VARCHAR},
      </if>
      <if test="tel != null">
        tel = #{tel,jdbcType=VARCHAR},
      </if>
      <if test="idNum != null">
        id_num = #{idNum,jdbcType=VARCHAR},
      </if>
    </set>
    where id = #{id,jdbcType=BIGINT}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.jacky.auth_center.model.DO.SysUser">
    <!--@mbg.generated-->
    update test.sys_user
    set name = #{name,jdbcType=VARCHAR},
      pass = #{pass,jdbcType=VARCHAR},
      remark = #{remark,jdbcType=VARCHAR},
      tel = #{tel,jdbcType=VARCHAR},
      id_num = #{idNum,jdbcType=VARCHAR}
    where id = #{id,jdbcType=BIGINT}
  </update>

<!--auto generated by MybatisCodeHelper on 2020-11-30-->
  <select id="getOneByName" resultMap="BaseResultMap">
    select
    <include refid="Base_Column_List" />
    from test.sys_user
    where name=#{name,jdbcType=VARCHAR}
  </select>

<!--auto generated by MybatisCodeHelper on 2020-12-04-->
  <select id="getAll" resultMap="BaseResultMap">
        select
        <include refid="Base_Column_List"/>
        from test.sys_user
    </select>
</mapper>